body {
  margin: 0;
  width: 15em;
}

div.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 0.5rem;
  width: 100%;
}

#message-box {
  width: 100%;
}

#message-box p {
  width: 80%;
  margin: 0.5rem auto;
  padding: 0.25rem 0.5rem;
  background-color: lightpink;
  text-align: center;
  border-style: solid;
  border-color: lightcoral;
  border-width: 3px;
  border-radius: 0.5rem;
}